@font-face {
  font-family: "iconfont"; /* Project id 3753483 */
  src: url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Reset-Settings:before {
  content: "\e93a";
}

.icon-24gl-calendar:before {
  content: "\eb3f";
}

.icon-xitongzhuangtai:before {
  content: "\e642";
}

.icon-jieshu:before {
  content: "\e71d";
}

.icon-connect:before {
  content: "\e6c0";
}

.icon-querylist:before {
  content: "\e6dd";
}

